* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(238, 29%, 16%);
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background: rgb(175, 103, 233);
  background: linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}

.faqCard {
  background-color: white;
  border-radius: 20px;
  height: 500px;
  width: 80%;
  /* min-width: 830px; */
  max-width: 1045px;
  display: flex;
  position: relative;
  transition: height 0.5s;
}

.faqCard__illustration {
  flex: 0.5;
  height: 100%;
  width: 100%;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.faqCard__illustration > img {
  position: absolute;
}

.faqCard > img {
  position: absolute;
}

.woman {
  top: 70px;
  left: -75px;
  z-index: 2;
  transition: all 0.5s;
}

.box {
  top: 200px;
  left: -95px;
  z-index: 3;
  transition: all 0.5s;
}

.shadow {
  left: -420px;
  top: -200px;
  object-fit: contain;
  /* width: 700px; */
  height: 800px;
  z-index: 1;
  transition: all 0.5s;
}

@media (max-width: 1000px) {
  .box {
    top: 190px;
    left: -115px;
    transform: scale(0.7);
  }

  .woman {
    transform: scale(0.7);
    left: -145px;
  }

  .shadow {
    transform: scale(0.7);
    left: -440px;
  }
}

.faqCard__right {
  flex: 0.5;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .container {
    max-width: 100%;
    max-height: 100%;
  }
  .faqCard {
    flex-direction: column;
    width: 350px;
    height: 600px;
  }

  .faqCard__illustration {
    clip-path: none;
    flex: 0;
  }
  .faqCard__right {
    padding-top: 150px;
    flex: 1;
    margin-bottom: 50px;
  }
  .box {
    transform: scale(0.5);
    top: -82px;
    left: 3px;
  }

  .woman {
    transform: scale(0.5);
    top: -195px;
    left: -60px;
  }

  .shadow {
    transform: scale(0.29);
    top: -410px;
    left: -230px;
  }
}

.faqCard__questions {
  max-height: 100%;
  width: 80%;
  font-weight: 400;
}

.faqCard__question {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 30px;
}

@media (max-width: 700px) {
  h1 {
    margin-bottom: 10px;
  }
}

.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.question > img {
  object-fit: contain;
}

hr {
  border: none;
  border-bottom: solid 1px hsl(240, 5%, 91%);
}

#Q1,
#Q2,
#Q3,
#Q4,
#Q5 {
  display: none;
}

#Q1:checked + .answer {
  display: initial;
}

#Q2:checked + .answer {
  display: initial;
}

#Q3:checked + .answer {
  display: initial;
}

#Q4:checked + .answer {
  display: initial;
}

#Q5:checked + .answer {
  /* transition: all 3s; */
  display: initial;
}

.answer {
  display: none;
}

.active {
  font-weight: 700 !important;
}

.active-arrow {
  transform: rotate(180deg);
}
